.showTime {
  padding: 60px 0;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);

  .showTime__content {
    max-width: 1366px;
    padding: 0 10px;
    display: none;
    @media screen and(min-width: 768px) {
      display: block;
    }
    @media screen and(min-width: 992px) {
      width: 100%;
      padding-left: 100px;
      padding-right: 100px;
      margin-left: auto;
      margin-right: auto;
    }

    .showTime__title {
      padding: 20px 0;
      border-bottom: 1px solid rgba(128, 128, 128, 0.534);
      position: relative;
      margin-bottom: 35px;
      &::after {
        content: "";
        width: 12%;
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right, #fbbd61, #ec7532);
      }
      h2 {
        font-size: 1.2rem;
        color: #ec7532;
        margin: 0;
      }
    }
    .ant-tabs-top {
      width: 100%;
      padding: 0 10px;
      @media screen and(min-width: 992px) {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
      }
      .ant-tabs-nav {
        .ant-tabs-nav-wrap {
          .ant-tabs-nav-list {
            .ant-tabs-tab {
              color: white;
              font-weight: 500;
              width: 15%;
              @media screen and (min-width: 576px) {
                width: 10%;
              }
              @media screen and (min-width: 768px) {
                width: 8%;
              }
              @media screen and (min-width: 1200px) {
                width: 5%;
              }

              .ant-tabs-tab-btn {
                width: 100%;
                border-radius: 50%;
                border: hidden;
                transition: all 0.1s;
                &:hover {
                  border: 2px solid #fbbd61;
                  @media screen and(min-width: 576px) {
                    border: 5px solid #fbbd61;
                  }
                }
                img {
                  width: 100%;
                  filter: grayscale(100%) brightness(70%) sepia(100%);
                  border: 3px solid #ec7532;
                  border-radius: 50%;
                  opacity: 0.6;
                }
                &:hover img {
                  opacity: 1;
                }
              }
            }
            .ant-tabs-tab-active {
              .ant-tabs-tab-btn {
                width: 100%;
                border-radius: 50%;
                border: 2px solid #fbbd61;
                opacity: 1;
                img {
                  opacity: 1;
                }
                @media screen and(min-width: 576px) {
                  border: 5px solid #fbbd61;
                }
              }
            }
            .ant-tabs-ink-bar {
              background: linear-gradient(to right, #fbbd61, #ec7532);
              height: 5px;
            }
          }
        }
        &::before {
          border: black;
        }
      }
      .ant-tabs-content-holder {
        .ant-tabs-content {
          .ant-tabs-tabpane {
            .ant-tabs-left {
              .ant-tabs-nav {
                width: 20%;
                @media screen and (min-width: 1200px) {
                  width: 15%;
                }
                .ant-tabs-nav-wrap {
                  .ant-tabs-nav-list {
                    .ant-tabs-ink-bar {
                      width: 5px;
                      background: linear-gradient(to top, #fbbd61, #ec7532);
                    }
                    .ant-tabs-tab {
                      padding: 0;
                      width: 40%;
                      @media screen and (min-width: 1200px) {
                        width: 35%;
                      }
                      .ant-tabs-tab-btn {
                        width: 100%;
                        border-radius: 50%;
                        border: hidden;
                        transition: all 0.1s;
                        color: white;
                        div {
                          div {
                            width: 100%;
                            transition: all 0.1s;
                            border: 5px solid #fbbd61;
                            border-radius: 50%;
                            border: hidden;
                            &:hover {
                              border-radius: 50%;
                              border: 5px solid #fbbd61;
                            }
                            &:hover img {
                              opacity: 1;
                            }
                            img {
                              width: 100%;
                              filter: grayscale(100%) brightness(70%)
                                sepia(100%);
                              border: 3px solid #ec7532;
                              border-radius: 50%;
                              opacity: 0.6;
                            }
                          }
                          p {
                            margin: 0;
                            opacity: 0.6;
                            font-weight: normal;
                            font-size: 0.8rem;
                            text-align: left;
                          }
                        }
                      }
                    }
                    .ant-tabs-tab-active {
                      .ant-tabs-tab-btn {
                        color: white;
                        div {
                          div {
                            width: 100%;
                            border-radius: 50%;
                            border: 5px solid #fbbd61;
                            img {
                              opacity: 1;
                            }
                          }
                          p {
                            opacity: 1;
                            width: 100%;
                          }
                        }
                      }
                    }
                  }
                }
              }
              .ant-tabs-content-holder {
                .ant-tabs-content-left {
                  .ant-tabs-tabpane {
                    .showTime__film {
                      padding: 10px 0;
                      border-bottom: 1px solid rgba(0, 0, 0, 0.174);
                      .sTfilm__img {
                        img {
                          width: 4rem;
                          height: 5rem;
                          object-fit: cover;
                          border-radius: 3px;
                        }
                      }
                      .sTfim__detail {
                        h6 {
                          color: #fbbd61;
                        }
                        p {
                          margin: 7px 0;
                          font-size: 0.8rem;
                          color: #ec7532;
                          i {
                            margin-right: 5px;
                          }
                          span {
                          }
                        }
                        div {
                          span {
                            display: inline-block;
                            padding: 5px 10px;
                            background-color: #7171713a;
                            border-radius: 5px;
                            margin: 5px 10px 5px 0;
                            color: white;
                            font-weight: 500;
                            position: relative;
                            &::after {
                              content: "";
                              width: 0%;
                              height: 5px;
                              background: linear-gradient(
                                to right,
                                #fbbd61,
                                #ec7532
                              );
                              position: absolute;
                              bottom: 0;
                              left: 0;
                              transition: all 0.3s;
                            }
                            &:hover::after {
                              width: 100%;
                            }
                          }
                        }
                      }
                    }
                  }
                  .ant-tabs-tabpane-active {
                  }
                }
              }
            }
          }
          .ant-tabs-tabpane-active {
          }
        }
      }
    }
  }
  .showTime__contentMobi {
    width: 100%;
    padding: 0 10px;
    display: block;
    @media screen and(min-width: 768px) {
      width: 100%;
      padding-left: 100px;
      padding-right: 100px;
      margin-left: auto;
      margin-right: auto;
      display: none;
    }
    .showTime__title {
      padding: 20px 0;
      border-bottom: 1px solid rgba(128, 128, 128, 0.534);
      position: relative;
      margin-bottom: 35px;
      &::after {
        content: "";
        width: 12%;
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right, #fbbd61, #ec7532);
      }
      h2 {
        font-size: 1.2rem;
        color: #ec7532;
        margin: 0;
      }
    }
    .ant-tabs-left {
      width: 100%;
      padding: 0 10px;
      @media screen and(min-width: 992px) {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
      }
      .ant-tabs-nav {
        width: 20%;

        .ant-tabs-nav-wrap {
          .ant-tabs-nav-list {
            .ant-tabs-tab {
              color: white;
              font-weight: 500;
              width: 100%;
              padding: 0;
              padding-right: 15px;

              .ant-tabs-tab-btn {
                width: 100%;
                border-radius: 50%;
                border: hidden;
                transition: all 0.1s;
                &:hover {
                  border: 2px solid #fbbd61;
                  @media screen and(min-width: 576px) {
                    border: 5px solid #fbbd61;
                  }
                }
                img {
                  width: 100%;
                  filter: grayscale(100%) brightness(70%) sepia(100%);
                  border: 3px solid #ec7532;
                  border-radius: 50%;
                  opacity: 0.6;
                }
                &:hover img {
                  opacity: 1;
                }
              }
            }
            .ant-tabs-tab-active {
              .ant-tabs-tab-btn {
                width: 100%;
                border-radius: 50%;
                border: 2px solid #fbbd61;
                opacity: 1;
                img {
                  opacity: 1;
                }
                @media screen and(min-width: 576px) {
                  border: 5px solid #fbbd61;
                }
              }
            }
            .ant-tabs-ink-bar {
              background: linear-gradient(to right, #fbbd61, #ec7532);
              width: 3px;
            }
          }
        }
        &::before {
          border: black;
        }
      }
      .ant-tabs-content-holder {
        .ant-tabs-content {
          .ant-tabs-tabpane {
            padding-left: 15px;
            .ant-menu {
              width: 100% !important;
              background-color: #323232;

              .ant-menu-submenu {
                background: linear-gradient(to right, #323232, #191919);

                .ant-menu-submenu-title {
                  .ant-menu-title-content {
                    color: #d9d9d9;
                  }
                  .ant-menu-submenu-arrow {
                    &::after {
                      background-color: #d9d9d9 !important;
                    }
                    &::before {
                      background-color: #d9d9d9 !important;
                    }
                  }
                }
              }
              .ant-menu-submenu-active {
                background: linear-gradient(to right, #fbbd61, #ec7532);

                .ant-menu-submenu-title {
                  .ant-menu-title-content {
                    color: #191919;
                    font-weight: 700;
                  }
                  .ant-menu-submenu-arrow {
                    &::after {
                      background-color: #191919 !important;
                    }
                    &::before {
                      background-color: #191919 !important;
                    }
                  }
                }
              }
              .showTime__film {
                padding: 5px 0;
                // border-bottom: 1px solid rgba(0, 0, 0, 0.174);
                margin-left: 5px;
                // width: 100%;
                // padding-left: 15px;
                // background-color: #323232;

                .sTfilm__img {
                  //   margin: 0 15px;
                  padding: 0;
                  //   background-color: #323232;
                  display: flex;
                  justify-content: space-between;
                  img {
                    width: 4rem;
                    height: 5rem;
                    object-fit: cover;
                    border-radius: 3px;
                  }
                  .sTfilm__nameFilm {
                    width: 70%;

                    h6 {
                      color: #fbbd61;
                    }
                  }
                }
                .sTfim__detail {
                  //   background-color: #323232;
                  //   margin: 0 15px;
                  padding: 0;

                  p {
                    margin: 7px 0;
                    font-size: 0.8rem;
                    color: #ec7532;
                    i {
                      margin-right: 5px;
                    }
                    span {
                    }
                  }
                  div {
                    span {
                      display: inline-block;
                      padding: 15px 10px;
                      background-color: #7171713a;
                      border-radius: 5px;
                      margin: 5px 10px 5px 0;
                      color: white;
                      font-weight: 500;
                      position: relative;
                      &::after {
                        content: "";
                        width: 0%;
                        height: 5px;
                        background: linear-gradient(to right, #fbbd61, #ec7532);
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transition: all 0.3s;
                      }
                      &:hover::after {
                        width: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
          .ant-tabs-tabpane-active {
          }
        }
      }
    }
  }
}
