.bookingChair {
  padding: 120px 0;
  @media screen and( min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70%;
    padding: 120px 0 50px;
  }
  .bookingChair__content {
    @media screen and (min-width: 1200px) {
      margin: auto;
      margin-left: 200px;
    }

    .bookingChair__Cinema {
      background: linear-gradient(to bottom, #191919, #7f7f7f);
      border-radius: 30px;
      overflow-x: scroll;
      box-shadow: 0 0 30px black;
      @media screen and (min-width: 768px) {
        overflow-x: hidden;
      }
      @media screen and (min-width: 1200px) {
        padding: 10px 20px;
      }
      .bookingChair__Screen {
        position: relative;
        width: 150%;
        @media screen and(min-width: 768px) {
          width: 100%;
        }
        h6 {
          text-align: center;
          margin: 0;
          color: #ec7632;
          position: absolute;
          width: 100%;
          top: 0px;
          font-size: 1rem;
          letter-spacing: 5px;
          font-weight: bold;
        }
        img {
          width: 100%;
        }
      }
      .bookingChair__Listchair {
        margin-top: 20px;
        text-align: center;
        width: 150%;
        @media screen and(min-width: 768px) {
          width: 100%;
        }
        .bookingChair__item {
          @media screen and(min-width: 576px) {
            margin: 0px 2px;
          }
          @media screen and(min-width: 680px) {
            margin: 0px 6px;
          }
          @media screen and(min-width: 992px) {
            margin: 0px 3px;
          }
          @media screen and(min-width: 1200px) {
            margin: 0px 3px;
          }
          @media screen and(min-width: 1310px) {
            margin: 0px 6px;
          }
          .chair {
            text-align: center;
            .bookingChair__Name {
              color: black;
              position: absolute;
              z-index: 100;
              width: 100%;
              bottom: 22%;
              left: 0;
              font-size: 0.9rem;
              display: none;
              font-weight: 700;
              padding: 0;
            }
          }
          .chair_Selected {
            .bookingChair__Name {
              display: inline;
            }
          }
        }
      }
    }
    .bookingChair__Note {
      width: 100%;
      text-align: center;
      margin-top: 40px;

      div {
        width: 100%;
        background-color: #323232;
        margin: auto;
        border-radius: 10px;
        p {
          margin: 0;
        }
      }
    }
    .chair {
      position: relative;
      font-size: 1.5rem;
      cursor: pointer;
      color: #191919;
      @media screen and(min-width: 992px) {
        font-size: 2.5rem;
      }
      @media screen and(min-width: 1200px) {
        font-size: 1.5rem;
      }
      @media screen and(min-width: 2560px) {
        font-size: 2.5rem;
      }
      span {
        font-size: 1rem;
        padding-left: 5px;
        padding-right: 15px;
        color: black;
        @media screen and(min-width: 768px) {
          font-size: 1.2rem;
        }
        @media screen and(min-width: 992px) {
          font-size: 1.8rem;
        }
        @media screen and(min-width: 1200px) {
          font-size: 1.2rem;
        }
        @media screen and(min-width: 2560px) {
          font-size: 2rem;
        }
      }
    }
    .chair_Reserved {
      color: #666666;
      cursor: default;
      pointer-events: none;
      span {
        color: #7f7f7f;
      }
    }
    .chair_Selected {
      color: white !important;
      span {
        color: white;
      }
    }
    .chair_Vip {
      color: #ec7632;
      span {
        color: #ec7632;
      }
    }
    // .chair_OtherSelected {
    //   color: aqua;
    //   cursor: default;
    //   pointer-events: none;
    //   span {
    //     color: aqua;
    //   }
    // }
    .chair_MyBooking {
      -webkit-text-stroke: 1px black;
      background: linear-gradient(
        to bottom right,
        black,
        #fbbd61,
        #191919,
        #ec7532,
        black
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      pointer-events: none;
    }
  }
}
.myBooking__text {
  font-size: 1rem;
  padding-left: 5px;
  padding-right: 15px;
  color: #fbbd61;
  @media screen and(min-width: 768px) {
    font-size: 1.2rem;
  }
  @media screen and(min-width: 992px) {
    font-size: 1.8rem;
  }
  @media screen and(min-width: 1200px) {
    font-size: 1.2rem;
  }
}
